.bg-primary {
  background-color: rgba(#74f3be, var(--bs-bg-opacity)) !important;
}
.image-text {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 15px;
  .image {
    width: 7rem;
    height: 7rem;
    display: inline-block;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    overflow: hidden;
    border-radius: 100px;
    img {
      transform: translate(-10vw, 0);
      height: 100%;
      width: auto;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1) 0.7s;
    }
    &:hover {
      width: 30rem;
      img {
        transform: translate(0, 0);
      }
    }
  }
  h1 {
    display: inline-flex;
  }
}
h1,
h2 {
  font-weight: 900;
}
.font-5 {
  font-size: 5em;
}
.font-8 {
  font-size: 8em;
}
h3 {
  font-size: 2em;
}

.special-border {
  border-radius: 20px;
  border: 1px solid #74f3be;
}
.btn-link {
  border: 1px solid #000;
  border-radius: 100px;
  padding: 3px 40px;
  margin: 0 10px;
  color: #000;
}
a {
  text-decoration: none;
}
.btn-rounded-custom {
  background-color: #fff;
  border-radius: 100px;
  font-size: 2em;
  font-weight: 900;
  padding: 0.3em;
  padding-left: 0.7em;
  .img-icon {
    background-color: #74f3be;
    border-radius: 100px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    padding: 15px;
  }
}
