<section id="inicio" class="pt-5 pb-5">
  <div class="container">
    <div class="image-text">
      <div class="image bg-primary">
        <img src="../../../assets/images/foto.png" alt="" />
      </div>
      <h1 class="font-5">Alexandre Poltronieri Filho</h1>
    </div>
    <h2 class="font-5">
      Desenvolvedor PHP, JS, Wordpress codando em São Paulo
    </h2>
    <h3>
      Apaixonado pelos desafios que a profissão de desenvolvedor pode oferecer
      porque acredito que isso nos ajuda a evoluir profissionalmente e
      pessoalmente, entregando projetos que realmente afetam e mudam a vida das
      pessoas.
    </h3>
  </div>
</section>

<section class="bg-primary pt-5 pb-5">
  <div class="container">
    <div>
      <h5>Expertise</h5>
      <h2>O que faço</h2>
    </div>
    <div>
      <app-accordion titulo="Wordpress">
        <p>
          Eu tenho habilidade para criar temas e plugins do zero, usando as
          melhores práticas de codificação e design. Eu também posso modificar
          os hooks do wordpress e woocommerce, que são funções que permitem
          alterar o comportamento padrão dessas plataformas. Com isso, eu posso
          adaptar o seu site às suas necessidades e preferências, garantindo um
          resultado de qualidade e satisfação.
        </p>
      </app-accordion>
      <app-accordion titulo="PHP">
        <p>
          Conhecimentos em PHP e utilização de framework Laravel trabalhando com
          sistemas de alta complexidades seguindo boas práticas e utilizando ao
          máximo recursos do Laravel.
        </p></app-accordion
      >
      <app-accordion titulo="JavaScript">
        <p>
          Experiência em JavaScript Vanila para manipulação do DOM e criação de
          ações para integrações com o backend. Já trabalhei com ferramentas
          como Nextjs, jQuery, GSAP para criação avançada de animações e criação
          de canva. Atualmente iniciando estudos em AngularJS
        </p>
      </app-accordion>
      <app-accordion titulo="Web Design">
        Experiência de ter trabalhado por 3 anos em agência de publicidade e
        formação de Publicidade e Propaganda, trazendo mais experiência e
        refinamento na hora de criar layouts únicos que se conversem com a
        identidade visual da empresa. Já trabalhei com Figma, Adobe XD,
        Photoshop, Illustrator para criação de protótipos, layouts, banners e
        imagens para site.
      </app-accordion>
    </div>
  </div>
</section>

<section id="projetos" class="mb-5">
  <div class="container">
    <div class="text-center col-12">
      <h2 class="font-8">PROJETOS</h2>
      <h2 class="font-8">REAIS</h2>
      <h2 class="font-8">E FUNCIONAIS</h2>
    </div>
  </div>
</section>

<section id="list-projetos">
  <div class="row justify-content-center position-relative">
    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/notorius.png"
          titulo="Sistema de criação de Posts para nicho"
          recursos="Laravel | Design | JS - MW Online"
        ></servico-card>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/riopreto-cred.png"
          titulo="Sistema de sincronização de transações de maquininha"
          recursos="Laravel | Design | JS - Próprio"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/dra-luana.png"
          titulo="Institucional e agendamento de consultas"
          recursos="Wordpress | JS - Like Comunicação"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/dra-mayra.png"
          titulo="Institucional"
          recursos="Figma | Wordpress |JS | SEO - Like Comunicação"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/cerebro-e-coluna.png"
          titulo="Cadastro de resultados de exames atrelado a protocolo com senha e download por PDF"
          recursos="Wordpress | JS - MW Online"
        ></servico-card>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row align-items-center special-border">
      <div class="col-md-5 col-sm-12 p-5">
        <h3>Trabalhando juntos para oferecer qualidade aos clientes</h3>
      </div>
      <div
        class="col-md-7 col-sm-12 d-flex justify-content-around align-items-center"
      >
        <img
          src="../../assets/images/like-comunicacao.png"
          width="110px"
          alt="Agência Like Comunicação"
        />
        <img
          src="../../assets/images/riopretopay.png"
          width="200px"
          alt="MW Online"
        />
        <img
          src="../../assets/images/mw-online.png"
          width="70px"
          alt="Rio Preto Cred/ Rio Preto Pay"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-primary p-5">
  <div class="container-fluid">
    <div class="text-center justify-content-center align-items-center mb-5">
      <h2 class="font-8">Vamos conversar?</h2>
      <p class="fw-bold">
        Tem algum projeto que pretende entregar ao cliente com qualidade? Entre
        em contato para definirmos a melhor entrega para seu cliente.
      </p>
      <a
        href="https://wa.me/5511988111524"
        target="_blank"
        class="btn btn-rounded-custom"
        >(11) 98811 1524
        <div class="img-icon">
          <img
            src="../../assets/images/whatsapp.png"
            width="30px"
            alt=""
          /></div
      ></a>
    </div>
    <div class="social text-center">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/alexandre-poltronieri-filho-9709441a7/"
        class="btn btn-link mb-2"
        >LinkedIn</a
      >
      <a
        target="_blank"
        href="https://github.com/alepfilho"
        class="btn btn-link mb-2"
        >Github</a
      >
      <a
        target="_blank"
        href="https://www.instagram.com/alepfilho/"
        class="btn btn-link mb-2"
        >Instagram</a
      >
    </div>
    <div class="text-center">
      <a href="/en" class="btn btn-link">EN</a>
      <a href="/" class="btn btn-link">PT-BR</a>
    </div>
  </div>
</section>
