h4 {
  font-size: 1.3em;
  font-weight: 700;
}
span {
  font-size: 0.9em;
  font-weight: 400;
}
.card {
  border-radius: 1em;
  width: 50%;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
  img {
    border-radius: 1em;
    margin-bottom: 1em;
  }
}
