.accordion-header button {
  font-weight: 700;
  font-size: 1.7em;
}
.accordion-button,
.accordion-item {
  background: none;
  border: none;
  border-radius: 0;
}
.accordion-button:not(.collapsed) {
  color: #000;
  border-bottom: 3px solid #000;
  box-shadow: none;
}
.accordion-item {
  border-bottom: 3px solid #000;
}
