<section id="inicio" class="pt-5 pb-5">
  <div class="container">
    <div class="image-text">
      <div class="image bg-primary">
        <img src="../../../assets/images/foto.png" alt="" />
      </div>
      <h1 class="font-5">Alexandre Poltronieri Filho</h1>
    </div>
    <h2 class="font-5">Developer JS, PHP, Wordpress coding in São Paulo</h2>
    <h3>
      Passionate about the challenges that the developer profession can offer
      because I believe that this helps us to evolve professionally and
      personally, delivering projects that really affect and change the lives of
      people.
    </h3>
  </div>
</section>

<section class="bg-primary pt-5 pb-5">
  <div class="container">
    <div>
      <h5>Expertise</h5>
      <h2>What I do</h2>
    </div>
    <div>
      <app-accordion titulo="Wordpress">
        <p>
          6+ years. I have the skills to create themes and plugins from scratch,
          using the best coding and design practices. I can also modify
          wordpress and woocommerce hooks, which are functions that allow change
          the default behavior of these platforms. With this, I can adapt your
          website to your needs and preferences, ensuring a result of quality
          and satisfaction.
        </p>
      </app-accordion>
      <app-accordion titulo="PHP">
        <p>
          6+ years. Knowledge of PHP and use of the Laravel framework working
          with highly complex systems following good practices and using maximum
          features of Laravel.
        </p></app-accordion
      >
      <app-accordion titulo="JavaScript">
        <p>
          1+ years. Experience in Vanila JavaScript for manipulating the DOM and
          creating actions for integrations with the backend. I've worked with
          tools like Nextjs, jQuery, GSAP for advanced animation creation and
          creation canvas. Currently starting studies in AngularJS
        </p>
      </app-accordion>
      <app-accordion titulo="Web Design">
        7+ years. Experience of having worked for 3 years in an advertising
        agency and Advertising training, bringing more experience and refinement
        when creating unique layouts that speak to the company visual identity.
        I've worked with Figma, Adobe XD, Photoshop, Illustrator for creating
        prototypes, layouts, banners and images for website.
      </app-accordion>
    </div>
  </div>
</section>

<section id="projetos" class="mb-5">
  <div class="container">
    <div class="text-center col-12">
      <h2 class="font-8">REAL</h2>
      <h2 class="font-8">AND FUNCTIONALS</h2>
      <h2 class="font-8">PROJECTS</h2>
    </div>
  </div>
</section>

<section id="list-projetos">
  <div class="row justify-content-center position-relative">
    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/notorius.png"
          titulo="Post creation system for niche"
          recursos="Laravel | Design | JS - MW Online"
        ></servico-card>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/riopreto-cred.png"
          titulo="Machine transaction synchronization system"
          recursos="Laravel | Design | JS - Myself"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/dra-luana.png"
          titulo="Institutional and appointment scheduling"
          recursos="Wordpress | JS - Like Comunicação"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/dra-mayra.png"
          titulo="Institutional"
          recursos="Figma | Wordpress |JS | SEO - Like Comunicação"
        ></servico-card>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 mt-3">
      <div class="animated-card">
        <servico-card
          class="ms-auto me-auto"
          imagem="../../assets/images/services/cerebro-e-coluna.png"
          titulo="Registration of exam results linked to a protocol with password and PDF download"
          recursos="Wordpress | JS - MW Online"
        ></servico-card>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row align-items-center special-border">
      <div class="col-md-5 col-sm-12 p-5">
        <h3>Working together to provide quality to customers</h3>
      </div>
      <div
        class="col-md-7 col-sm-12 d-flex justify-content-around align-items-center"
      >
        <img
          src="../../assets/images/like-comunicacao.png"
          width="110px"
          alt="Agency Like Comunicação"
        />
        <img
          src="../../assets/images/riopretopay.png"
          width="200px"
          alt="MW Online"
        />
        <img
          src="../../assets/images/mw-online.png"
          width="70px"
          alt="Rio Preto Cred/ Rio Preto Pay"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-primary p-5">
  <div class="container-fluid">
    <div class="text-center justify-content-center align-items-center mb-5">
      <h2 class="font-8">Let's talk?</h2>
      <p class="fw-bold">
        Do you have a project that you want to deliver to the client with
        quality? In between Get in touch to define the best delivery for your
        client.
      </p>
      <a
        href="https://wa.me/5511988111524"
        target="_blank"
        class="btn btn-rounded-custom"
        >+55 (11) 98811 1524
        <div class="img-icon">
          <img
            src="../../assets/images/whatsapp.png"
            width="30px"
            alt=""
          /></div
      ></a>
    </div>
    <div class="social text-center">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/alexandre-poltronieri-filho-9709441a7/"
        class="btn btn-link mb-2"
        >LinkedIn</a
      >
      <a
        target="_blank"
        href="https://www.instagram.com/alepfilho/"
        class="btn btn-link mb-2"
        >Instagram</a
      >
      <a
        target="_blank"
        href="https://github.com/alepfilho"
        class="btn btn-link mb-2"
        >Github</a
      >
    </div>
    <div class="text-center">
      <a href="/en" class="btn btn-link">EN</a>
      <a href="/" class="btn btn-link">PT-BR</a>
    </div>
  </div>
</section>
